git+https://github.com/vladgerasimov94/orm_client.git
git+https://github.com/vladgerasimov94/restclient.git
git+https://github.com/vladgerasimov94/db_client.git
git+https://github.com/vladgerasimov94/dm_api_account.git
requests==2.31.0
pytest==7.3.2
structlog==23.1.0
curlify==2.2.1
pydantic==2.0
pydantic_core==2.0.1
PyHamcrest==2.0.4
psycopg2==2.9.6
records==0.5.3
SQLAlchemy==1.4.46
sqlacodegen==2.3.0.post1
allure-pytest==2.13.2